.footer-container {
    background-color: var(--primary-bg);
    padding: 10px;
    color: var(--white;)
}

.contact-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}